<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="au.com">
        <context:exclude-filter type="annotation" expression="au.com.crypto.bot.application.ApplicationControllers"/>
    </context:component-scan>

    <jpa:repositories base-package="au.com.crypto.bot.application.analyzer"
                      entity-manager-factory-ref="analysisEntityManagerFactory" transaction-manager-ref="analysisTransactionManager"/>
    <jpa:repositories base-package="au.com.crypto.bot.application.ticker"
                      entity-manager-factory-ref="tickerEntityManagerFactory" transaction-manager-ref="tickerTransactionManager"/>

    <bean id="analysisTransactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager" primary="true">
        <property name="dataSource" ref="analysisSource"/>
    </bean>

    <bean id="analysisEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          primary="true">
        <property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
        <property name="persistenceUnitName" value="analyzerPersistence"/>
        <property name="dataSource" ref="analysisSource"/>
        <property name="packagesToScan" value="au.com.crypto.bot.application.analyzer.entities"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL82Dialect"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.implicit_naming_strategy">
                    org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
                </prop>
                <prop key="hibernate.physical_naming_strategy">
                    org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
                </prop>
            </props>
        </property>
    </bean>

    <bean id="tickerTransactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="tickerSource"/>
    </bean>
    <bean id="PropertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="searchSystemEnvironment" value="true" />
    </bean>
    <bean id="tickerEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
        <property name="persistenceUnitName" value="tickerPersistence"/>
        <property name="dataSource" ref="tickerSource"/>
        <property name="packagesToScan" value="au.com.crypto.bot.application.ticker.entities"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL82Dialect"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.implicit_naming_strategy">
                    org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
                </prop>
                <prop key="hibernate.physical_naming_strategy">
                    org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
                </prop>
                <prop key="hibernate.ejb.naming_strategy" >
                    org.hibernate.cfg.EJB3NamingStrategy
                </prop>
            </props>
        </property>
    </bean>

    <bean id="analysisSource" class="org.apache.commons.dbcp.BasicDataSource" primary="true">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://10.1.1.18:5432/${postgres_db}"/>
        <property name="username" value="${postgres_user}"/>
        <property name="password" value="${postgres_password}"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="tickerSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://10.1.1.18:5432/${postgres_db}"/>
        <property name="username" value="${postgres_user}"/>
        <property name="password" value="${postgres_password}"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

</beans>
